# ignore editor-specific working files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.idea/*
*~

# ignore lock file until it works with npm < version 5
package-lock.json

# ignore all compressed files
*.gz, *.xz, *.zip

# # ignore npm/node modules
node_modules/
npm-debug.log

debug.log

yarn-error.log

.env

*.db*
